* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 i {
   text-align: center;
 }
html,
body {
  color: #eee;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-shadow: #222 2px 2px 20px;
}

.main-section:before {
  background: url('http://i.imgur.com/gaNFJms.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #FFF;
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
  content: "";
  z-index: -1;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  transform: scale(1.1);
}

h1 {
  letter-spacing: 4px;
  margin-bottom: 6%;
  font-size: 3em;
}

h4 {
  letter-spacing: 2px;
  margin-bottom: 6%;
  font-size: 1.5em;
}

.icons {
  color: #EEE;
  padding: 10px;
  font-size: 1.5em;
}

.icon-group {
  margin-top: 10%;
}

p {
  letter-spacing: 1px;
  vertical-align: middle;
  margin-bottom: 6%;
  font-size: 1.2em;
}

.main-section {
  display: flex;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.icons:hover {
  color: #666;
}


