i {
  text-align: center;
}
html,
body {
  color: #eee;
  background-color: #000;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  word-wrap: break-word;
}
img {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.main-section {
  display: flex;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95vh;
  width: 100%;
  vertical-align: middle;
}
h1 {
  letter-spacing: 4px;
  margin-bottom: 3%;
  font-size: 3em;
}
h4 {
  letter-spacing: 2px;
  margin-top: 8%;
  margin-bottom: 8%;
  font-size: 1.5em;
}
.icons {
  color: #EEE;
  padding: 8px;
}
.icon-group {
  margin-top: 16%;
}
p {
  letter-spacing: 1px;
  vertical-align: middle;
  margin-bottom: 6%;
  font-size: 1.2em;
}
.icons:hover {
  color: #666;
}
a {
  color: #eee;
  font-weight: bold;
}
a:hover {
  color: #aaa;
}
