i {
  text-align: center;
}
html,
body {
  color: #eee;
  background-color: #333333;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
h1 {
  letter-spacing: 4px;
  margin-bottom: 6%;
  font-size: 3em;
}
h4 {
  letter-spacing: 2px;
  margin-top: 16%;
  margin-bottom: 16%;
  font-size: 1.5em;
}
.icons {
  color: #EEE;
  padding: 8px;
}
.icon-group {
  margin-top: 16%;
}
p {
  letter-spacing: 1px;
  vertical-align: middle;
  margin-bottom: 6%;
  font-size: 1.2em;
}
.main-section {
  display: flex;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95vh;
  width: 100%;
  vertical-align: middle;
}
.icons:hover {
  color: #666;
}
